{% extends "blog/base.html" %}
{% block title %}
{{post.title}}
{% endblock  %}

{% block content %}
<h1>{{post.title}}</h1>
<p class="date">
    published {{post.published}} by {{post.author}}
</p>
<p>
    {{post.body|linebreaks}}
</p> 
<div>
    <a href="{% url 'blog:post_share' post.id %}">
        Share this post 
    </a>
</div>  
<div>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments}} comment {{ total_comments|pluralize}}
    </h2>
    {% endwith %} 
    {% for comment in comments  %}
        <div class="comment">
            <p class="info">
                comment by {{comment.name}} at {{comment.created}}
            </p>
            <p>
                {{comment.body|linebreaks}}
            </p>
        </div>
    {% empty %}
        <p>
            there are no comment. 
        </p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
</div>
{% endblock content %}